/*HOME PAGE*/ 
.Home_background {
    display: flex;
    height: 600px;
    position: relative;
}
  
.Home_background > div {    
    flex: 1;
    position: relative;
}
  
.Obli {
    background-image: url('https://i.ibb.co/RpC9VFk/oblation-1-1-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    height: 100%;
    display: flex;
}

  
.Bname {
    background-image: url('https://i.ibb.co/3zwJf8D/2560px-UPMin-EBL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    height: 100%;
    display: flex;
    
}
  
.shade,
.Name {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
  
.shade {
    background: linear-gradient(to left, #6d0605, rgba(109, 7, 5, 0.5), rgba(109, 7, 5, 0.2) 50%, rgba(109, 7, 5, 0));
}
  
.Name {
    padding: 150px 0 0 20px;
    color: white;
    background: linear-gradient(to right, #6d0605, rgba(109, 7, 5, 0.7));
    height: 75%;
    text-shadow: 2px 2px 15px #000000a9;
}
  
.upconnect {
    font-weight: bold;
    margin: 0;
}

.Name p{
    margin-left: 5%;
    margin-top: -5%;

}
  
.values {
    margin-bottom: 0;
}
  
.wconnect {
    color: #ffbd59;
}

.upconnect {
    font-size: 6rem;
}

.values i{
    font-size: 1.5rem;
    line-height: 1.4;
}
  
.university-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.university-text #up {
    font-size: 30px;
    margin: 0;
    line-height: 1;
}
  
.university-text #down {
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

/* Media query for smaller screens */
@media (max-width: 1050px) {
    .wconnect,.upconnect {
        margin-bottom: -15px; 
        margin-top: -5%;
        font-size: 4rem;
    }

    .values {
        font-size: 0.6rem;
        line-height: 1.6;
        margin-top: 15px;
    }

    .Obli {
        display: none;
    }
}

@media (max-width: 480px) {
    .wconnect, .upconnect {
        font-size: 0.5rem; 
        margin-bottom: -15px; 
        margin-top: -5%;

    }

    .values {
        font-size: 0.4rem;
        line-height: 1.6; 
    }
}
